.container {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    display: flex;
    justify-content: center;
    align-items: center;
}

.generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: fit-content;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #0000002d;
    box-shadow: 0px 0px 16px #00000036;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.generator:hover {
    background-color: #0000003b;
    box-shadow: 0px 0px 16px #00000062;
}

.generator h1 {
    margin-top: 3rem;
}

.generatorInput {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 20rem;
    height: 3rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    padding: 1rem;
}

.generatorInput p {
    color: #fff;
}

.generatorInput span {
    cursor: pointer;
}

.conditionals {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conditionals span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 20rem;
    margin: .2rem;
}

.conditionals span div {
    font-size: 1.2rem;
}

.conditionals span input[type=number] {
    width: 4rem;
    height: 2rem;
    outline: none;
    font-size: 1.2rem;
}

.conditionals span input[type=checkbox] {
    outline: none;
    width: 1.2rem;
    height: 1.2rem;
}

.generator hr {
   width: 18rem;
   height: .1rem;
   background-color: #000;
   border: none;
   border-radius: 50px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
}

.generator button {
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.generator button:hover {
    background-color: #00000096;
}

.generator p {
    position: absolute;
    display: none;
}